#fotos .a{
    width: 30%;
    height: 300px


}
#fotos .b{
    width: 29%;
    height:300px ;


}
#fotos .c{
    width: 40%;
    height: 300px;


}
#fotos .d{
    width: 40%;
    height: 300px

}
#fotos .e{
    width: 19%;
    height:300px;


}

#fotos .f{
    width: 40%;

    height: 300px;

}
#fotos .g{
    width: 100%;
    height: 600px;


}
.titulo a{
    border: 1px outset #CCC;
    background: #EEE;
    padding: .1em .5em;
    text-decoration: none;
    position: relative;
    top: 30%;
    color: #222;

}
.titulo a:hover{
    background: #CCB;
}
.titulo a:active{
    border: 1px inset #000;
}

.titulo a{
    display: inline;
    padding-right: 30px;
    clear: both;
}
.titulo{
    border-width: thick;
    border-style: solid;
    height: 80px;
    font-size: 20px;
    background-image: url("../img/relojes.jpg");
    background-size: cover;

}
.RRSS{
    border-width: thick;
    border-style: solid;
    clear: both;
    text-align: right;
    height: 50px;
}
#contenedor{
    border-width: thick;
    border-style: solid;
    width: 100%;
    min-width: 50%;
    height: 100%;

}
.titulo span{
    text-align: center;
    text-shadow: 2px 6px 3px brown;
    font-family: "Bauhaus 93", "Arial",sans-serif;
    font-size: xxx-large;
    color: coral;

}
.RRSS p{
    font-size:20px;

    display: inline;
    float:left;
}