

#contenedor{
    border-width: thick;
    border-style: solid;
    width: 100%;
    min-width: 50%;
    height: 100%;
   background-color: lightsalmon;

}


#tiendas {

    background-image:url("../img/coruna.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
}
nav {

     width: 20%;
    display: block;
    float:left;
    clear: both;

}
#tiendas {
    display: block;
    float: left;
    width: 60%;
}
section{
    float: right;
    width: 19%;
    height: 100%;
    background-color: #CCCCCC;
    border-radius: 20px;
    position: relative;
    top: 40px;
    right: 4px;
    text-align: center;

}
#info{
    width: 100%;
    height: 100%;
    clear: both;
    background-color: #CCCCCC;
    position: relative;
    top: 40px;
}
#informacion1{
   padding-top: 20px;
   padding-bottom: 20px;
    width: 100%;
   height: 100%;

}
#informacion2{

    width: 100%;
    height: 100%;


 }

.RRSS{
    border-width: thick;
    border-style: solid;
    clear: both;
    text-align: right;
    height: 50px;
}
.RRSS p{
    font-size:20px;

    display: inline;
    float:left;
}
.enlaces{
    display: inline;
}

.compras{
    text-align:left;
}
#tiendas{
    padding-left: 10px;
    width:60%;
    height: 100%;
    font-family: "Bauhaus 93", "Arial",sans-serif;


}
#tiendas img{
    width: 60px;
    float: left;
}

.titulo{
    border-width: thick;
    border-style: solid;
    height: 80px;
    font-size: 20px;
    background-image: url("../img/relojes.jpg");
    background-size: cover;

}

.titulo span{
    text-align: center;
    text-shadow: 2px 6px 3px brown;
    font-family: "Bauhaus 93", "Arial",sans-serif;
    font-size: xxx-large;
    color: coral;
    width: 500px;

}

#navegacion{
    display: block;
    float: left;
}
form{
    float: left;
    clear: both;
    display: block;
}
fieldset{
    border-radius: 15px;
    background-color: darkgray;
}
fieldset div{
    margin: .4em 0;
}
.icono{
    width: 40px;
    height: 40px;
    cursor: hand;
    float: right;
    padding-top: 5px;
    }
#menu a {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background: cadetblue;
    padding: 2px;
    display: block;
    text-decoration: none;
}
.titulo a{
   border: 1px outset #CCC;
    background: #EEE;
    padding: .10em .5em;
    text-decoration: none;
    display: inline;

    position: relative;
    top: 30%;
    color: #222;

 }
.titulo a:hover{
    background: #CCB;
}
.titulo a:active{
    border: 1px inset #000;
}


 #tiendas p{
     clear: left;
 }
#tiendas ul{
    list-style-type: none;
}
#menu img{
    width: 90%;
    padding-top: 10px;
}
#menu h1{
    background-color:orange;
    text-shadow: 2px 6px 3px brown;
    border: 2px solid #F00;
    outline: 5px dashed blue;
    outline-offset: 10px;
}






/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

