/*=========================================================
=======================trabajo 1=======================*/

/*-------------basic----------------------------------------*/

/*--------------layout-------------------------------------*/
#contenedor{
    border-width: thick;
    border-style: solid;
    width:100%;
    width: 90%;
    max-width: 900px;
    margin:  0 auto;
}
.titulo{
    clear: both;
    border-width: thick;
    border-style: solid;
    height: 80px;
}
#menu{
    width: 20%;
    height: 100%;
}
#tiendas{
    width:60%;
    height: 100%;
    display: block;
    float: left;
}
#lateral{
    border-width: thick;
    border-style: solid;
    display:block;
    float: right;
    width: 18%;
    height: 560px;
    overflow: scroll;
}
.RRSS{
    border-width: thick;
    border-style: solid;
    clear: both;
}
/*------------------cabecera--------------------*/
.titulo #logo{
    float: left;
}
.titulo #buscador{
    float: right;
}
/*------------------menu------------------------*/

/*-----------------seccion principal------------*/

/*----------------pie de pagina----------------*/
.RRSS #enlaces{
    float:left;
}
.RRSS #redes{
    float: right;
}

/*========================estilos propios===========*/

